* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
      background: #e0f7fa;
      font-family: 'Comic Sans MS', times new roman, time cursive, sans-serif;
      margin: 0;
      padding: 0px;
      text-align: center;
      color: #0d47a1;
      overflow-x: hidden;
     
}

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    button {
      margin: 10px;
      padding: 15px 30px;
      font-size: 1.2rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.2s ease;
    }

    button:hover {
      transform: scale(1.05);
    }

    .yes {
      background-color: #1565c0;
      color: white;
    }

    .no {
      background-color: #ccc;
      color: black;
    }

    .hidden {
      display: none;
    }

    #respuesta img {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }

    .flower {
  position: fixed;
  width: 30px;
  animation: float 10s linear infinite;
  z-index: 0;
  pointer-events: none;
}
    @keyframes float {
      0% {
        transform: translateY(-10%) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
      }
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 1.8rem;
         font-family: 'Comic Sans MS', cursive, sans-serif;
      }

      p {
        font-size: 1rem;
         font-family: 'Comic Sans MS', cursive, sans-serif;
      }

      button {
        width: 80%;
        font-size: 1rem;
      }
    }
